*{
    margin: 0;
    padding: 0;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    transition-delay: 1000ms;
}
.popup {
    position: absolute;
    background-color: white;
    top: 20%;
    left: 10%;
    border-radius: 10px;
    height: 70%;
    width: 80%;
}
.popup img {
    position: absolute;
    height: 20%;
    top: -12%;
    left: -6%;
    border-radius: 500px;
}
.pictures {
    /* background-color: black; */
    position: relative;
    height: 90%;
    width: 95%;
    left: 2.5%;
    top: 5%;
    border-radius: 10px;
    overflow: auto;
}
.header {
    position: absolute;
    background-color: transparent;
    top: 25%;
    left: 0%;
    border-radius: 10px;
    height: 40%;
    width: 5%;
}
.header img {
    position: relative;
    height: 20%;
    top: 8%;
    left: 34.5%;
    border-radius: 500px;
}
.heart {
    display: inline-block;
    cursor: pointer;
    transition: transform .2s;
    margin: 0 auto;
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
.search {
    display: inline-block;
    transition: transform .2s;
    margin: 0 auto;
    cursor: pointer;
}
.search:hover {
    transform: scale(1.2);
    border: 5px solid red;
    box-shadow: 0 0 15px red;
    transition: all 0.5s ease;
}
.profile {
    display: inline-block;
    transition: transform .2s;
    margin: 0 auto;
    cursor: pointer;
}
.profile:hover {
    transform: scale(1.2);
    border: 5px solid red;
    box-shadow: 0 0 15px red;
    transition: all 0.5s ease;
}
.icon {
    display: inline-block;
    transition: transform .2s;
    margin: 0 auto;
    cursor: pointer;
}
.icon:hover {
    transform: scale(1.2);
    border: 5px solid red;
    box-shadow: 0 0 15px red;
    transition: all 0.5s ease;
}
.home {
    display: inline-block;
    transition: transform .2s;
    margin: 0 auto;
    cursor: pointer;
}
.home:hover {
    transform: scale(1.2);
    border: 5px solid red;
    box-shadow: 0 0 15px red;
    transition: all 0.5s ease;
}